body {
    background-color: lightblue;
}

#giphy-body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
}

.giphy-preview {
    width: 49%;
    cursor: pointer;
}

textarea {
    resize: none;
}

.comment-body, p.card-text, #single-post-msg {
    white-space: pre-line;
}

button {
    margin-right: 0.3rem;
}
